ANPR_API_PORT=8090
ANPR_CONTROL_BASE_URL=http://127.0.0.1:8090
ANPR_DB_FILE=/app/data/plates.db
ANPR_CONFIG_FILE=/app/data/config.json
ANPR_STREAM_DIR=/app/stream

BUBBLE_BASE_URL=https://parco.bubbleapps.io/version-test/api/1.1/wf
BUBBLE_TOKEN=
